/* body style -start with roosts */
body{
    background-image: url(../img/food.png);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
/* styling of paragraphs "is it a word!" */
h2 {
    background-color: rgb(219, 211, 211);
    color: rgb(110, 158, 213);
    width: 500px;
    padding: 10px 10px;

    /*font styling*/
    font-size: 45px;
    text-align: center;
}

h3 {
    background-color: rgb(255, 255, 255);
    color: rgb(158, 155, 155);

    width: fit-content;
    padding: 0px 5px;
    margin: 10px 10px;
    /* font styling*/
    font: 15px;
    text-align: center;

}


/* h1 styling - used this class in main page styling*/
.headline {
    text-align: center;
    font-size: 90px;
    font-weight: 900;
    color: rgb(152, 155, 172);
}

/* styling for picture - still strugling with quality of the pics and size !
 - they are different on all pages

*/
img{
   width: 800px;
   height: auto;
   margin: 10px 10px ;
   border: solid 15px rgb(110, 158, 213);
   border-right: solid 17px rgb(187, 181, 181);
}

/* managing here style for <p> */
.text {
    display: inline-block;
    text-align: justify;
    color: rgb(230, 203, 148);
}
/*<divs> styling - it is same for all side pages */
.box {
    /* styling of div*/
    background-color: grey;

    /*positioning of div*/
    width: 700px;
    margin: 5px 10px 5px ;
    padding: 5px 15px;
    border: 10px solid rgb(248, 248, 248);

}
/* button  and external links styling 

- I think that a:pseudoblabla best thing I have learnt so faar !

*/

button {
   background-color:  rgba(64, 129, 172, 0.907);
   width: 170px;
   margin: 5px 1700px;
   border: 2px solid rgb(246, 244, 244);
}
a {
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;
}


a:hover, 
a:focus {
    color: brown;
}

/* and of course unordered list 

- I migt use divs here but kinda feels as it separated on the site */


ul {
list-style:disc;
background-color: rgb(172, 189, 189);
list-style-position:outside;

width: fit-content;
padding: 50px;
border: solid 5px whitesmoke;
}

.ul-chicken {
    list-style-image: url(../img/chicken-icon.png);
}

.ul-pizza {
    list-style-image: url(../img/pizza-icon.png);
}

.ul-pesto {
    list-style-image: url(../img/avocado-icon.png);
}


ul li { 
    background-color: rgb(187, 228, 227);
    color: rgb(117, 116, 113);



    width: fit-content;
    padding: 0px 15px 18px;
    margin:10px;
    border: 2px rgb(255, 255, 255) solid;
}
